<!DOCTYPE html>
<html ng-app>
  <head>
  <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>

  <script src="javascripts/chat.js"></script>

  </head>

  <body>

  <div ng-controller="ChatCtrl">
    <h1>Simple-Chat</h1>
    <ul>
      <li ng-repeat="message in messages track by $index">{{message}}</li>
    </ul>

    <form ng-submit="sendMessage()">
      <input type="text" ng-model="messageText" placeholder="Type your message here" />
      <input type="submit" value="Send" />
    </form>
  </div>

  </body>
</html>

